*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #110f0fea;
}
header{
    z-index: 100;
}
.height{
   height: 100vh;
}
.background-image{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/burguerLogin.jpg);
    background-size: cover;
    background-position: center;
}
.tamaño{
    width: 55%;
}
.tamaño__input{
    width: 60%;
}
.gap{
    gap: 2rem;
}
.logo__brangus{
    display: flex;
    align-items: center;
    width: 60px!important;
    height: 60px!important;
}
.logo__brangus img{
    width: 100%;
    border-radius: 100%;
}
.image{
    padding: 16px;
    width: 100%;
    height: 220px;
}
.description{
    height: 90px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}
.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
.table__productos{
    display: flex;
}
.table__title{
    font-size: 12px;
}

.table__productos > img{
    width: 5rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
    margin-left: 10px;

}
.table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}
.color{
    color: red;
}
.margin{
    margin-right: 20px;
    margin-left: 20px;
}
@media(max-width:405px){
    .right{
        margin-left: 100px;
    }
    
}

.details__carrito{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.details__carrito li {
    list-style: none;
}
.detalles__evento{   
    padding: 40px;
    text-align: center;
    color: white;
}
.precio{
    display: flex;
}
